
<div class="card">
  <div class="card-body">
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">

    <tr *ngFor="let plant of plants">
      <td><img [src]="plant.image" [alt]="plant.image" width="100" height="100"></td>
      <td>{{plant.name}}</td>
      <td>{{plant.type}}</td>
      <td>{{plant.price}}</td>
      <td>{{plant.stock}}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
