@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
td{
  align-content: center;
  background: transparent;
  border: transparent;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

th{
  border: #2d3a22 ;
  background: transparent;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.clearance{
  border: 2px solid #63954c;
  background-color: #87af68;
}

button{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: #2d3a22;
}


.smallInput{
  width: 40px;
}

.form-group{
  align-items: center;
  display: flex;
  flex-direction: row;
}




