
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Compra</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (plant of plants; track plant.name){
    <tr [ngClass]="{'clearance':plant.clearance}">
      <td><img [src]="plant.image" [alt]="plant.image" width="100" height="100"></td>
      <td>{{plant.name | titlecase}}</td>
      <td>{{plant.type}}</td>
      <td>{{plant.price | currency}}</td>
      @if(plant.stock>0){
      <td>{{plant.stock}}</td>
      }@else{
      <td><span class="badge text-bg-success">sin stock!</span></td>
      }
      <td>
        <div class="form-group">
            <button class="btn btn-secondary" (click)="downQuantity(plant)">-</button>
                <input class="smallInput" type="number"
                [(ngModel)]="plant.quantity"
                (focusout)="checkQuantity(plant)"/>
            <button class="btn btn-secondary" (click)="upQuantity(plant)">+</button>
        </div>
      </td>
    </tr>
    } @empty{
      <tr>
        <td colspan="4">No hay plantas existentes</td>
      </tr>
    }
  </tbody>
</table>


