<div class="container">
  <img [src]="imagen.image1" class="d-block w-90" alt="...">
  <h2>🌿 SOBRE NOSOTROS</h2>
  <p>En <span class="highlight">Vivero</span>, creemos en el poder de la naturaleza para transformar espacios y llenar de vida cada rincón.</p>
  <p>Nuestro compromiso va más allá de vender plantas; buscamos fomentar una conexión especial entre las personas y la naturaleza. Cada planta ha sido cultivada con dedicación y amor, asegurando su calidad y bienestar.</p>
  <p>🌱 <span class="highlight">¿Qué nos hace especiales?</span></p>
  <p>✔️ Variedad de plantas de interior y exterior.<br>
    ✔️ Asesoría personalizada para el cuidado de tus plantas.<br>
    ✔️ Prácticas sustentables para un mundo más verde.<br>
    ✔️ Envíos seguros y atención de calidad.</p>
  <p>¡Haz de tu espacio un lugar más verde con <span class="highlight">Vivero</span>! 🌿💚</p>
</div>
