@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.home1{
  width:100%;
  height: auto;
  align-items: center;
  margin: auto auto;
  padding: 10px;
}

.allHome{
  align-items: center;
  display: flex;
  flex-direction: column;
}


.btn{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #e8cd8e;
  text-decoration-color: #1c3209;
  color: #1c3209;
  border: 2px solid #1c3209;
}


.carousel-caption{
    text-shadow:
    -1px -1px 0 rgb(6, 37, 7),  
     1px -1px 0 rgb(6, 37, 7),
    -1px  1px 0 rgb(6, 37, 7),
     1px  1px 0 rgb(6, 37, 7);
    letter-spacing: 2px;
    color: #ffe5d1;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

@media (max-width: 767px) {
  .carousel-caption{
    padding-top: 25px;
    font-size: 15px; /* tamaño más chico para celulares */
  }
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.subt{
  padding: 5px;
  color: #415e27;
  font-family: "Bebas Neue", sans-serif;
}

.card{
  color: #2b3f19;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  background-color: #eee0c2;
}

.home4{
  display: flex;
  flex-direction: column;
}
