<div class="allHome">
  <div class="home1">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="imagenes.image1" class="d-10 w-100" alt="...">
          <div class="carousel-caption d-block">
            <h1 class="d-none d-md-block">Envíos a todo el país</h1>
            <p>Envío gratis en todas las compras mayores a $50.000</p>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="imagenes.image2" class="d-10 w-100" alt="...">
          <div class="carousel-caption d-block">
            <h1 class="d-none d-md-block">Home deco</h1>
            <p>Todo lo que tus espacios necesitan para transformarse en un hogar</p>
          </div>
    </div>
    <div class="carousel-item">
      <img [src]="imagenes.image3" class="d-10 w-100" alt="...">
      <div class="carousel-caption d-block">
        <h1 class="d-none d-md-block">Mundo verde</h1>
        <p>Te ofrecemos una amplia variedad de plantas y macetas</p>
      </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<h1 class="subt"> Novedades y secciones</h1>
<div class="cards">
<div class="card" style="width: 25rem;">
  <img [src]="imagenes.image5" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Decoración</h5>
    <p class="card-text">Ideas de ambientes para que lo verde destaque</p>
    <a href="#" class="btn btn-success">Ver más</a>
  </div>
</div>
<div class="card" style="width: 25rem;">
  <img [src]="imagenes.image6" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Consejos y cuidados</h5>
    <p class="card-text">Una guía para mantener tus plantas en buenas condiciones</p>
    <a href="#" class="btn btn-success">Ver más</a>
  </div>
</div>
<div class="card" style="width: 25rem;">
  <img [src]="imagenes.image7" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Vivero staff</h5>
    <p class="card-text">¡Conoce nuestro personal!</p>
    <a href="#" class="btn btn-success">Ver más</a>
  </div>
</div>
</div>
<div class="home4">
  <img [src]="imagenes.image4" class="pagos">
</div>



