<div class="row">
  <div class="col-12 col-md-8">
    <app-plants-list></app-plants-list>
  </div>
  <div class="col-4 d-md-block col-md-4">
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <app-plants-cart class="plantsc"></app-plants-cart>
      </div>
    </div>
  </div>
</div>
<app-plants-cart class="d-none d-md-block"></app-plants-cart>
  </div>
</div>